.mobile-menu{
  display: none;
  position: absolute;
  width: 100%;
  background: #fff;
  top: 0;
  z-index: 999;
}
  .mobile-menu-item{
    align-items: center;
    display: flex;
    flex: 1 1 100%;
    padding: 0 15px;
    min-height: 40px;
    border-bottom: 1px solid #ccc;
  }
@media(max-width: 414px){
  .mobile-menu{
    display: block;
  }
}
