.campground{
  flex: 1 1 auto;
  padding: 0 15px;
}
.campgrounds-section{
  display: flex;
  justify-content: space-between;
}
  .campgrounds-body{
    flex: 1 1;
    padding-left: 10px;
  }
@media(max-width: 450px){
  .campgrounds{
      margin-top: 40px;
  }
  .campgrounds-section{
    flex-direction: column;
  }
}
